<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>DwitPack</title>
</head>
<body>
<main>
    <h1 class="title">
        DwitPack
    </h1>
    <a class="github-link" href="https://github.com/prplz/dwitpack">
        <%= require('raw-loader!./github.svg') %>
    </a>
    <div class="row">
        <div class="col">
            <label for="input">Input</label>
            <textarea id="input" rows="6" autocomplete="off" autocorrect="off" autocapitalize="off"
                      spellcheck="false">alert(1)</textarea>
            <div id="input-count">8 chars</div>
        </div>
        <div class="col">
            <label for="output">Output</label>
            <textarea id="output" rows="6" readonly></textarea>
            <div class="flex">
                <div id="output-count" class="flex-grow"></div>
                <div class="mode-selector">
                    <input id="mode-unicode-2" type="radio" name="mode" value="unicode-2" checked>
                    <label for="mode-unicode-2">Unicode 2</label>
                    <input id="mode-unicode-3" type="radio" name="mode" value="unicode-3">
                    <label for="mode-unicode-3">Unicode 3</label>
                </div>
            </div>
        </div>
    </div>
    <p>
        <a href="https://xem.github.io/golfing/#jstweet_en">2 char unicode method</a>
        by
        <a href="https://twitter.com/MaximeEuziere">xem</a>
        and
        <a href="https://twitter.com/subzey">subzey</a>.
    </p>
    <p>
        <a href="http://www.romancortes.com/v2/javascript-code-golf.html">3 char unicode method</a>
        by
        <a href="https://twitter.com/romancortes">Román Cortés</a>.
    </p>
</main>
</body>
</html>