body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

main {
    width: calc(1200px - 3em);
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    main {
        width: auto;
        margin: 0 1.5em;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    margin-left: -1em;
    margin-right: -1em;
}

.col {
    margin-left: 1em;
    margin-right: 1em;
    flex: 1;
}

@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }

    .col {
        margin-bottom: 1em;
    }
}

#input, #output {
    width: 100%;
    resize: vertical;
    display: block;
    box-sizing: border-box;
    border: 1px solid #888;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    outline: none !important;
    word-break: break-all;
    font-family: monospace;
    margin: 0.5em 0;
}